.item {
  list-style: none;
  padding: 0;
  margin-bottom: 8px;
  text-transform: capitalize;
  background-color: #20212b;
  padding: 8px 16px;
  font-size: 1.5rem;
  font-weight: 300;
  border-radius: 8px;
}
