.app {
  padding: 24px 10%;

  .app-control {
    margin-bottom: 16px;
    display: flex;

    input {
      border: none;
      border-bottom: solid 1px white;
      font-size: 1.5rem;
      padding: 8px 16px;
      margin-right: 16px;
      min-width: 0;

      &:focus {
        outline: none;
      }
    }

    button {
      border: none;

      &:focus {
        outline: none;
      }

      svg {
        background-color: #fc75a1;
        font-size: 2rem;
        fill: #171820;
        padding: 4px;
        border-radius: 8px;
      }
    }
  }
}

@media (min-width: 400px) {
  .app {
    max-width: 700px;
    padding: 24px 0;
    margin: 0 auto;
  }
}
